@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajustes globales para el header */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  position: sticky;
  width: 100%; /* Para pantallas pequeñas */
  height: auto;
}

/* Ajustes para las secciones en pantallas pequeñas */
#Home {
  z-index: 10;
  position: relative;
  padding-left: 0;
  padding-top: 60px; /* Ajusta este valor según la altura de tu header */
}

#Maquila,
#Semillas {
  z-index: 10;
  position: relative;
  padding-left: 0;
  padding-top: 6cqi; /* Ajusta este valor según la altura de tu header */
}

/* Ajustes para pantallas grandes */
@media (min-width: 1024px) {
  header {
    height: 40px; /* Para pantallas grandes */
    width: 100%; /* Ajusta este valor según el ancho de tu nav */
  }

  #Home,
  #Semillas {
    min-height: calc(100vh - 60px); /* Ajusta según el tamaño de tu header */
    padding-top: 60px; /* Remover padding-top en pantallas grandes */
  }
  #Maquila {
    min-height: calc(100vh - 60px); /* Ajusta según el tamaño de tu header */
    padding-top: 0px;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
      -2px 2px 0 #000;
  }
  .text-2xl-shadow {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}
