---
import Layout from '../layouts/Layout.astro';
import Nav from "../components/Nav.astro"
import "../styles/global.css";
import Semillas from '../components/Semillas.astro';
import Home from '../components/Home.astro';
import Maquila from '../components/Maquila.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="EL SEMILLON">
	<Nav/>
	<main class="relative w-full h-screen overflow-auto">
		<div class="snap-center"><Home/></div>
		
		<div class="snap-center"><Maquila/></div>
		
		<div class="snap-center"><Semillas/></div>

		<div class="snap-center"><Contacto/></div>

		<div class="snap-center"><Footer/></div>

	</main>
</Layout>

