<section id="Footer" class="pt-10 pb-10 flex justify-center items-center w-full h-6 bg-green-50 text-gray-800">
    <p class="text-gray-500 text-center ">© 2024 El Semillón. Todos los derechos reservados.</p>
</section>