

<section id="Maquila" class="absolute w-full  bg-white  text-gray-800">
   

    <div class="container flex flex-col items-center mx-auto px-6  lg:px-12">
      <!-- Título de la sección -->
      <h2 class="text-4xl font-bold text-green-700 text-center mb-12 pt-6">Maquila</h2>
  
      <!-- Introducción -->
      <div class="mb-12 text-center">
        <p class="text-lg leading-relaxed max-w-3xl mx-auto text-justify">
          En El Semillón, nos especializamos en la maquila de plantas de la más alta calidad, ofreciendo soluciones eficientes y personalizadas para agricultores, viveros, y paisajistas. Nuestro enfoque se centra en el desarrollo de sistemas radiculares fuertes y saludables, garantizando plantas robustas que destacan en cualquier entorno de cultivo.
        </p>
     </div>
  
      <!-- Contenido de Maquila -->

      <div class="grid grid-cols-12 gap-4 w-[60%] ">
       
        
        <!-- Tercera imagen -->
        <div class="col-span-12 md:col-span-6 xl:col-span-4 overflow-hidden rounded-lg shadow-lg transition-transform duration-300 hover:scale-[1.02]">
          <img class="w-full h-48 md:h-full object-cover" src="/images/planta1.webp" alt="Planta">
        </div>
        
        <!-- cuarta imagen -->
        <div class="col-span-12 md:col-span-6 xl:col-span-4 xl:row-span-2 overflow-hidden rounded-lg shadow-lg transition-transform duration-300 hover:scale-[1.02]">
          <img class="w-full h-full  object-cover" src="/images/planta2.webp" alt="Imagen 3">
        </div>
    
        <!-- quinta imagen -->
        <div class="col-span-12 md:col-span-6 xl:col-span-4 overflow-hidden rounded-lg shadow-lg transition-transform duration-300 hover:scale-[1.02]">
          <img class="w-full h-full object-cover" src="/images/planta3.webp" alt="Imagen 4">
        </div>
    
        <!-- sexta imagen -->
        <div class="col-span-12 md:col-span-6 xl:col-span-4 overflow-hidden rounded-lg shadow-lg transition-transform duration-300 hover:scale-[1.02]">
          <img class="w-full h-full object-cover" src="/images/planta4.webp" alt="Imagen 5">
        </div>

<!-- septima imagen -->
        <div class="col-span-12 md:col-span-6 xl:col-span-4 overflow-hidden rounded-lg shadow-lg transition-transform duration-300 hover:scale-[1.02]">
          <img class="w-full h-full object-cover" src="/images/plantaHome.webp" alt="Imagen 5">
        </div>
      </div>
  
   
  </section>