

<section id="Mision" class="relative bg-white  text-gray-800">
    <div class="absolute h-full w-full z-10">
        <img
          src="/images/misionF.webp"
          alt="Imagen agrícola"
          class="w-full h-[100%] object-cover m-0 rounded-b-lg"
        />
      </div>

    <div class="container mx-auto px-6 lg:px-12 z-20">
      <!-- Título de la sección -->
      <h2 class="text-4xl font-bold text-green-700 text-center mb-1 pt-1 z-100">Misión, Visión y Valores</h2>
  
      <!-- Divisor curvo -->
      <div class="absolute left-0 right-0 h-48 overflow-hidden">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" class="h-full w-full">
          <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" class="fill-green-50"></path>
        </svg>
      </div>
  
      <!-- Contenido de Misión, Visión y Valores -->
      <div class="relative z-10 bg-green-50 p-8 rounded-lg shadow-md mt-10">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <!-- Misión -->
          <div class="text-center">
            <h4 class="text-2xl font-semibold text-green-700 mb-4">Misión</h4>
            <p class="text-justify">
              Nuestra misión es proporcionar soluciones agrícolas innovadoras y sostenibles que contribuyan al éxito de nuestros clientes y al cuidado del medio ambiente.
            </p>
          </div>
          <!-- Visión -->
          <div class="text-center">
            <h4 class="text-2xl font-semibold text-green-700 mb-4">Visión</h4>
            <p class="text-justify">
              Ser reconocidos como líderes en el sector agro, conocidos por nuestra calidad, compromiso con la sostenibilidad, y por ser un socio confiable para agricultores y productores en todo el mundo.
            </p>
          </div>
          <!-- Valores -->
          <div class="text-center">
            <h4 class="text-2xl font-semibold text-green-700 mb-4">Valores</h4>
            <p class="text-justify">
              Innovación, sostenibilidad, calidad y compromiso con nuestros clientes son los pilares que guían cada una de nuestras acciones.
            </p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Imagen que limita con el divisor -->
   
  </section>