<header class="z-40 py-3 px-10 h-auto flex flex-row items-start justify-between fixed top-0 w-full text-green-900 bg-white shadow-lg lg:flex-col lg:h-full lg:w-auto lg:justify-around">
    <a href="#Home">
        <h1 class="inline-block font-semibold text-3xl hover:text-green-700 hover:scale-105 transition-transform duration-300">El Semillon</h1>
    </a>

    <!-- Botón de menú hamburguesa (visible solo en pantallas pequeñas) -->
    <button id="menu-button" class="lg:hidden flex items-center p-2 focus:outline-none">
        <svg id="menu-icon" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#064E3B" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 6l16 0" />
            <path d="M4 12l16 0" />
            <path d="M4 18l16 0" />
        </svg> 
        <!-- Ícono de cerrar -->
        <svg id="close-icon" xmlns="http://www.w3.org/2000/svg" class="hidden icon icon-tabler icon-tabler-x" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#064E3B" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
        </svg>
    </button>

    <!-- Menú de navegación (visible en pantallas grandes) -->
    <nav class="hidden lg:block h-[80%]">
        <ul class="flex flex-col items-start justify-around h-full space-y-4">
            <li><a class="font-bold text-xl hover:text-green-700 hover:scale-105 transition-transform duration-300" href="#Nosotros">Nosotros</a></li>
            <li><a class="font-bold text-xl hover:text-green-700 hover:scale-105 transition-transform duration-300" href="#Mision">Misión</a></li>
            <li><a class="font-bold text-xl hover:text-green-700 hover:scale-105 transition-transform duration-300" href="#">Productos</a></li>
            <li><a class="font-bold text-xl hover:text-green-700 hover:scale-105 transition-transform duration-300" href="#">Contacto</a></li>
        </ul>
    </nav>

    <!-- Menú hamburguesa desplegable (visible solo en pantallas pequeñas) -->
    <div id="mobile-menu" class="lg:hidden absolute left-0 w-full bg-white text-green-900  hidden  transition-all duration-500 " style="top:98%;">
        <ul class="flex flex-col space-y-2 p-4">
            <li><a href="#Nosotros" class="font-bold text-xl hover:text-green-600 transition-colors duration-300">Nosotros</a></li>
            <li><a href="#Mision" class="font-bold text-xl hover:text-green-600 transition-colors duration-300">Misión</a></li>
            <li><a href="#" class="font-bold text-xl hover:text-green-600 transition-colors duration-300">Productos</a></li>
            <li><a href="#" class="font-bold text-xl hover:text-green-600 transition-colors duration-300">Contacto</a></li>
        </ul>
    </div>
</header>



<script>
    document.addEventListener('DOMContentLoaded', () => {
        const menuButton = document.getElementById('menu-button');
        const mobileMenu = document.getElementById('mobile-menu');
        const menuIcon = document.getElementById('menu-icon');
        const closeIcon = document.getElementById('close-icon');
        
        menuButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
            mobileMenu.classList.toggle('-translate-y-1');
            menuIcon.classList.toggle('hidden');
            closeIcon.classList.toggle('hidden');
        });
    });
</script>

<style>
    .custom-gradient {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }
</style>
