<header class="z-40 py-2 px-2 sm:px-10 sm:py-1 h-10 flex items-center justify-between fixed top-0 w-full text-green-900 bg-green-50 shadow-lg">
    <a href="#Home">
        <h1 class="inline-block font-bold text-3xl  hover:text-green-700 hover:scale-105 transition-transform duration-300">EL SEMILLON</h1>
    </a>

    <!-- Botón de menú hamburguesa (visible solo en pantallas pequeñas) -->
    <div id="menu-button" aria-label="menu" class="burger relative w-8 h-6 lg:hidden flex items-center  focus:outline-none">
        <svg id="menu-icon" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#064E3B" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 6l16 0" />
            <path d="M4 12l16 0" />
            <path d="M4 18l16 0" />
        </svg> 
        <!-- Ícono de cerrar -->
        <svg id="close-icon" aria-label="cerrar menu" xmlns="http://www.w3.org/2000/svg" class="hidden icon icon-tabler icon-tabler-x" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#064E3B" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
        </svg>
        
    </div>

    <!-- Menú de navegación (visible en pantallas grandes) -->
    <nav class="hidden lg:flex h-full flex-grow items-center">
        <ul class="flex justify-around w-full">
            <li><a class="font-medium text-xl hover:text-green-700 hover:scale-105 transition-transform duration-300" href="#Maquila">Maquila</a></li>
            <li><a class="font-medium text-xl hover:text-green-700 hover:scale-105 transition-transform duration-300" href="#Semillas">Semillas</a></li>
            <li><a class="font-medium text-xl hover:text-green-700 hover:scale-105 transition-transform duration-300" href="#Contacto">Contacto</a></li>
        </ul>
    </nav>

    <!-- Menú hamburguesa desplegable (visible solo en pantallas pequeñas) -->
    <div id="mobile-menu" class="lg:hidden absolute  left-0 w-full bg-green-50 text-green-900 hidden transition-all duration-500" style="top:98%;">
        <ul class="flex flex-col space-y-2 p-4">
            <li><a href="#Maquila" class="font-bold text-xl hover:text-green-600 transition-colors duration-300">Maquila</a></li>
            <li><a href="#Semillas" class="font-bold text-xl hover:text-green-600 transition-colors duration-300">Semillas</a></li>
            <li><a href="#Contacto" class="font-bold text-xl hover:text-green-600 transition-colors duration-300">Contacto</a></li>
        </ul>
    </div>
</header>





<script>
    document.addEventListener('DOMContentLoaded', () => {
        const menuButton = document.getElementById('menu-button');
        const mobileMenu = document.getElementById('mobile-menu');
        const menuIcon = document.getElementById('menu-icon');
        const closeIcon = document.getElementById('close-icon');
        const menuLinks = document.querySelectorAll('#mobile-menu a');

        // Función para cerrar el menú
        const closeMenu = () => {
            mobileMenu.classList.add('hidden');
            mobileMenu.classList.remove('-translate-y-1');
            menuIcon.classList.remove('hidden');
            closeIcon.classList.add('hidden');
        };

        // Abrir/Cerrar menú al hacer clic en el botón
        menuButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
            mobileMenu.classList.toggle('-translate-y-1');
            menuIcon.classList.toggle('hidden');
            closeIcon.classList.toggle('hidden');
        });

        // Cerrar el menú al hacer clic en un enlace
        menuLinks.forEach(link => {
            link.addEventListener('click', closeMenu);
        });

        // Cerrar el menú al hacer clic fuera del mismo
        document.addEventListener('click', (event) => {
    const target = event.target as Node;

    if (!menuButton.contains(target) && !mobileMenu.contains(target)) {
        closeMenu();
    }
});

    });
</script>
    
    