<section id="Nosotros" class="landing-section  h-screen  text-center overflow-hidden relative text-black"
data-header-color="black">
<div class="flex flex-col  py-10 px-8 h-screen justify-center relative items-center  z-20">
    <img class="rounded-full w-[300px]  object-cover" src="/public/images/dios.webp
    " alt="LOGO DE ELE SEMILLON">
    <h1 class="text-white text-3xl mt-4">SEMBRAMOS TUS IDEAS, CULTIVAMOS TU EXITO✨🌱✨</h1>
</div>
  
  <div class="absolute top-0 buttom-0 h-full w-full z-10 ">
    <img
      src="/public/images/gucci.webp"
      alt="Model 3"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>