<section id="Nosotros" class="py-16 bg-white text-gray-800">
  <div class="container mx-auto px-6 lg:px-12">
      <!-- Título de la sección -->
      <h2 class="text-4xl font-bold text-green-700 text-center mb-12 pt-6">Sobre Nosotros</h2>

      <!-- Introducción -->
      <div class="mb-12 text-center">
          <p class="text-lg leading-relaxed max-w-3xl mx-auto text-justify">
              En El Semillón, nos dedicamos con pasión al germinado de plantas y a la distribución de fertilizantes y semillas de la más alta calidad. Creemos que la base para un futuro sostenible comienza con una agricultura fuerte, y estamos aquí para apoyarte en cada paso del camino.
          </p>
      </div>

      <!-- Especialidades de la Empresa -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
        <!-- Germinado de Plantas -->
        <div class="text-center flex flex-col items-center">
            <img src="/public/images/plantaHome.webp" alt="Germinado de plantas" class="h-54 w-[80%] object-cover mb-4 rounded-lg shadow-md">
            <h3 class="text-2xl font-semibold text-green-700 mb-2 ">Germinado de Plantas</h3>
            <p class="text-justify">
                Nos especializamos en el proceso de germinado, asegurando que cada planta tenga el mejor inicio posible. Nuestro equipo de expertos utiliza técnicas avanzadas para fomentar un crecimiento saludable y sostenible.
            </p>
        </div>
        <!-- Distribución de Fertilizantes -->
        <div class="text-center flex flex-col items-center">
            <img src="/public/images/plantaHome.webp" alt="Distribución de fertilizantes" class="h-54 w-[80%] object-cover mb-4 rounded-lg shadow-md">
            <h3 class="text-2xl font-semibold text-green-700 mb-2">Distribución de Fertilizantes</h3>
            <p class="text-justify">
                Ofrecemos una amplia gama de fertilizantes orgánicos y sintéticos, diseñados para mejorar la productividad de tus cultivos. Trabajamos con proveedores confiables para garantizar la calidad de cada producto.
            </p>
        </div>
        <!-- Distribución de Semillas -->
        <div class="text-center flex flex-col items-center">
            <img src="/public/images/plantaHome.webp" alt="Distribución de semillas" class="h-54 w-[80%] object-cover mb-4 rounded-lg shadow-md">
            <h3 class="text-2xl font-semibold text-green-700 mb-2">Distribución de Semillas</h3>
            <p class="text-justify">
                Proveemos semillas seleccionadas de alta calidad para una gran variedad de cultivos. Nuestras semillas están diseñadas para ofrecer la mejor germinación y resistencia, ayudando a maximizar el rendimiento de tus campos.
            </p>
        </div>
    </div>
    
  </div>
</section>
